.section-home-hero {
    display: flex;
    height: 91vh;
    align-items: center;
}

.form-compras {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-color: rgb(28, 28, 34);
    width: 500px;
    max-width: 90%;
    margin: 0 auto;
    border-radius: 20px;
}

.form-compras h2 {
    color: white;
    padding: 30px;
    font-weight: 400;
    font-size: 30px;
}

.form-compras button {
    width: 90%;
    height: 50px;
    border: none;
    margin: 30px auto 60px auto;
    border-radius: 30px;
    background-color: rgb(46, 46, 53);
    color: rgb(220, 220, 228);
    font-size: 16px;
    word-spacing: 3px;
    letter-spacing: 1.8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.form-compras button:hover {
    background-color: rgb(52, 52, 59);
}